!!! html

%html
  %head
    %title Descend
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)

  %body
    = yield
